@font-face {
  font-family: "anke";
  src: url("../anke.otf"); }

* {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

header {
  height: 100vh;
  background-color: #a3afbb;
  display: flex; }
  header .particleDot {
    position: absolute;
    border-radius: 50%; }

@keyframes particleMoves1 {
  100% {
    transform: translate3d(38vw, 64vh, 17px); } }
  header .particleDot:nth-child(1) {
    height: 14px;
    width: 14px;
    background-color: #152942;
    transform: translate3d(59vw, 29vh, 47px);
    animation: particleMoves1 35s infinite;
    animation-delay: -0.2s; }

@keyframes particleMoves2 {
  100% {
    transform: translate3d(38vw, 23vh, 24px); } }
  header .particleDot:nth-child(2) {
    height: 6px;
    width: 6px;
    background-color: #587894;
    transform: translate3d(14vw, 55vh, 49px);
    animation: particleMoves2 35s infinite;
    animation-delay: -0.4s; }

@keyframes particleMoves3 {
  100% {
    transform: translate3d(29vw, 34vh, 58px); } }
  header .particleDot:nth-child(3) {
    height: 9px;
    width: 9px;
    background-color: #619873;
    transform: translate3d(48vw, 9vh, 13px);
    animation: particleMoves3 35s infinite;
    animation-delay: -0.6s; }

@keyframes particleMoves4 {
  100% {
    transform: translate3d(37vw, 83vh, 57px); } }
  header .particleDot:nth-child(4) {
    height: 11px;
    width: 11px;
    background-color: #594265;
    transform: translate3d(18vw, 9vh, 87px);
    animation: particleMoves4 35s infinite;
    animation-delay: -0.8s; }

@keyframes particleMoves5 {
  100% {
    transform: translate3d(7vw, 82vh, 26px); } }
  header .particleDot:nth-child(5) {
    height: 13px;
    width: 13px;
    background-color: #413688;
    transform: translate3d(71vw, 44vh, 47px);
    animation: particleMoves5 35s infinite;
    animation-delay: -1s; }

@keyframes particleMoves6 {
  100% {
    transform: translate3d(51vw, 11vh, 60px); } }
  header .particleDot:nth-child(6) {
    height: 6px;
    width: 6px;
    background-color: #934297;
    transform: translate3d(86vw, 83vh, 41px);
    animation: particleMoves6 35s infinite;
    animation-delay: -1.2s; }

@keyframes particleMoves7 {
  100% {
    transform: translate3d(36vw, 3vh, 74px); } }
  header .particleDot:nth-child(7) {
    height: 9px;
    width: 9px;
    background-color: #655487;
    transform: translate3d(28vw, 33vh, 80px);
    animation: particleMoves7 35s infinite;
    animation-delay: -1.4s; }

@keyframes particleMoves8 {
  100% {
    transform: translate3d(31vw, 44vh, 81px); } }
  header .particleDot:nth-child(8) {
    height: 14px;
    width: 14px;
    background-color: #611121;
    transform: translate3d(36vw, 15vh, 28px);
    animation: particleMoves8 35s infinite;
    animation-delay: -1.6s; }

@keyframes particleMoves9 {
  100% {
    transform: translate3d(90vw, 52vh, 56px); } }
  header .particleDot:nth-child(9) {
    height: 18px;
    width: 18px;
    background-color: #391114;
    transform: translate3d(61vw, 75vh, 60px);
    animation: particleMoves9 35s infinite;
    animation-delay: -1.8s; }

@keyframes particleMoves10 {
  100% {
    transform: translate3d(80vw, 5vh, 78px); } }
  header .particleDot:nth-child(10) {
    height: 8px;
    width: 8px;
    background-color: #535215;
    transform: translate3d(89vw, 25vh, 50px);
    animation: particleMoves10 35s infinite;
    animation-delay: -2s; }

@keyframes particleMoves11 {
  100% {
    transform: translate3d(84vw, 64vh, 56px); } }
  header .particleDot:nth-child(11) {
    height: 7px;
    width: 7px;
    background-color: #141914;
    transform: translate3d(19vw, 44vh, 21px);
    animation: particleMoves11 35s infinite;
    animation-delay: -2.2s; }

@keyframes particleMoves12 {
  100% {
    transform: translate3d(42vw, 25vh, 78px); } }
  header .particleDot:nth-child(12) {
    height: 15px;
    width: 15px;
    background-color: #289588;
    transform: translate3d(39vw, 57vh, 79px);
    animation: particleMoves12 35s infinite;
    animation-delay: -2.4s; }

@keyframes particleMoves13 {
  100% {
    transform: translate3d(41vw, 3vh, 94px); } }
  header .particleDot:nth-child(13) {
    height: 12px;
    width: 12px;
    background-color: #676411;
    transform: translate3d(38vw, 72vh, 44px);
    animation: particleMoves13 35s infinite;
    animation-delay: -2.6s; }

@keyframes particleMoves14 {
  100% {
    transform: translate3d(79vw, 24vh, 78px); } }
  header .particleDot:nth-child(14) {
    height: 7px;
    width: 7px;
    background-color: #268366;
    transform: translate3d(86vw, 38vh, 58px);
    animation: particleMoves14 35s infinite;
    animation-delay: -2.8s; }

@keyframes particleMoves15 {
  100% {
    transform: translate3d(64vw, 10vh, 51px); } }
  header .particleDot:nth-child(15) {
    height: 11px;
    width: 11px;
    background-color: #174929;
    transform: translate3d(14vw, 32vh, 13px);
    animation: particleMoves15 35s infinite;
    animation-delay: -3s; }

@keyframes particleMoves16 {
  100% {
    transform: translate3d(4vw, 52vh, 67px); } }
  header .particleDot:nth-child(16) {
    height: 6px;
    width: 6px;
    background-color: #491574;
    transform: translate3d(27vw, 12vh, 26px);
    animation: particleMoves16 35s infinite;
    animation-delay: -3.2s; }

@keyframes particleMoves17 {
  100% {
    transform: translate3d(38vw, 43vh, 91px); } }
  header .particleDot:nth-child(17) {
    height: 9px;
    width: 9px;
    background-color: #243487;
    transform: translate3d(30vw, 80vh, 45px);
    animation: particleMoves17 35s infinite;
    animation-delay: -3.4s; }

@keyframes particleMoves18 {
  100% {
    transform: translate3d(53vw, 66vh, 50px); } }
  header .particleDot:nth-child(18) {
    height: 13px;
    width: 13px;
    background-color: #682971;
    transform: translate3d(2vw, 1vh, 70px);
    animation: particleMoves18 35s infinite;
    animation-delay: -3.6s; }

@keyframes particleMoves19 {
  100% {
    transform: translate3d(37vw, 10vh, 74px); } }
  header .particleDot:nth-child(19) {
    height: 14px;
    width: 14px;
    background-color: #576454;
    transform: translate3d(61vw, 37vh, 47px);
    animation: particleMoves19 35s infinite;
    animation-delay: -3.8s; }

@keyframes particleMoves20 {
  100% {
    transform: translate3d(37vw, 65vh, 15px); } }
  header .particleDot:nth-child(20) {
    height: 6px;
    width: 6px;
    background-color: #988517;
    transform: translate3d(62vw, 9vh, 30px);
    animation: particleMoves20 35s infinite;
    animation-delay: -4s; }

@keyframes particleMoves21 {
  100% {
    transform: translate3d(5vw, 78vh, 46px); } }
  header .particleDot:nth-child(21) {
    height: 7px;
    width: 7px;
    background-color: #499554;
    transform: translate3d(24vw, 80vh, 61px);
    animation: particleMoves21 35s infinite;
    animation-delay: -4.2s; }

@keyframes particleMoves22 {
  100% {
    transform: translate3d(84vw, 25vh, 87px); } }
  header .particleDot:nth-child(22) {
    height: 13px;
    width: 13px;
    background-color: #566682;
    transform: translate3d(28vw, 36vh, 41px);
    animation: particleMoves22 35s infinite;
    animation-delay: -4.4s; }

@keyframes particleMoves23 {
  100% {
    transform: translate3d(29vw, 35vh, 15px); } }
  header .particleDot:nth-child(23) {
    height: 14px;
    width: 14px;
    background-color: #772555;
    transform: translate3d(13vw, 26vh, 9px);
    animation: particleMoves23 35s infinite;
    animation-delay: -4.6s; }

@keyframes particleMoves24 {
  100% {
    transform: translate3d(75vw, 68vh, 51px); } }
  header .particleDot:nth-child(24) {
    height: 6px;
    width: 6px;
    background-color: #167887;
    transform: translate3d(47vw, 36vh, 100px);
    animation: particleMoves24 35s infinite;
    animation-delay: -4.8s; }

@keyframes particleMoves25 {
  100% {
    transform: translate3d(78vw, 12vh, 90px); } }
  header .particleDot:nth-child(25) {
    height: 9px;
    width: 9px;
    background-color: #241787;
    transform: translate3d(89vw, 39vh, 8px);
    animation: particleMoves25 35s infinite;
    animation-delay: -5s; }

@keyframes particleMoves26 {
  100% {
    transform: translate3d(52vw, 56vh, 17px); } }
  header .particleDot:nth-child(26) {
    height: 20px;
    width: 20px;
    background-color: #986179;
    transform: translate3d(2vw, 43vh, 26px);
    animation: particleMoves26 35s infinite;
    animation-delay: -5.2s; }

@keyframes particleMoves27 {
  100% {
    transform: translate3d(10vw, 73vh, 97px); } }
  header .particleDot:nth-child(27) {
    height: 6px;
    width: 6px;
    background-color: #464893;
    transform: translate3d(5vw, 56vh, 16px);
    animation: particleMoves27 35s infinite;
    animation-delay: -5.4s; }

@keyframes particleMoves28 {
  100% {
    transform: translate3d(4vw, 42vh, 90px); } }
  header .particleDot:nth-child(28) {
    height: 14px;
    width: 14px;
    background-color: #128622;
    transform: translate3d(13vw, 87vh, 24px);
    animation: particleMoves28 35s infinite;
    animation-delay: -5.6s; }

@keyframes particleMoves29 {
  100% {
    transform: translate3d(82vw, 78vh, 76px); } }
  header .particleDot:nth-child(29) {
    height: 14px;
    width: 14px;
    background-color: #255987;
    transform: translate3d(88vw, 68vh, 95px);
    animation: particleMoves29 35s infinite;
    animation-delay: -5.8s; }

@keyframes particleMoves30 {
  100% {
    transform: translate3d(90vw, 85vh, 32px); } }
  header .particleDot:nth-child(30) {
    height: 6px;
    width: 6px;
    background-color: #847839;
    transform: translate3d(49vw, 13vh, 58px);
    animation: particleMoves30 35s infinite;
    animation-delay: -6s; }

@keyframes particleMoves31 {
  100% {
    transform: translate3d(51vw, 72vh, 69px); } }
  header .particleDot:nth-child(31) {
    height: 11px;
    width: 11px;
    background-color: #589586;
    transform: translate3d(9vw, 63vh, 43px);
    animation: particleMoves31 35s infinite;
    animation-delay: -6.2s; }

@keyframes particleMoves32 {
  100% {
    transform: translate3d(9vw, 14vh, 67px); } }
  header .particleDot:nth-child(32) {
    height: 17px;
    width: 17px;
    background-color: #138221;
    transform: translate3d(89vw, 84vh, 64px);
    animation: particleMoves32 35s infinite;
    animation-delay: -6.4s; }

@keyframes particleMoves33 {
  100% {
    transform: translate3d(35vw, 65vh, 80px); } }
  header .particleDot:nth-child(33) {
    height: 16px;
    width: 16px;
    background-color: #328651;
    transform: translate3d(67vw, 38vh, 23px);
    animation: particleMoves33 35s infinite;
    animation-delay: -6.6s; }

@keyframes particleMoves34 {
  100% {
    transform: translate3d(34vw, 51vh, 56px); } }
  header .particleDot:nth-child(34) {
    height: 8px;
    width: 8px;
    background-color: #728542;
    transform: translate3d(12vw, 88vh, 36px);
    animation: particleMoves34 35s infinite;
    animation-delay: -6.8s; }

@keyframes particleMoves35 {
  100% {
    transform: translate3d(34vw, 61vh, 8px); } }
  header .particleDot:nth-child(35) {
    height: 18px;
    width: 18px;
    background-color: #146956;
    transform: translate3d(38vw, 43vh, 6px);
    animation: particleMoves35 35s infinite;
    animation-delay: -7s; }

@keyframes particleMoves36 {
  100% {
    transform: translate3d(35vw, 18vh, 68px); } }
  header .particleDot:nth-child(36) {
    height: 9px;
    width: 9px;
    background-color: #315459;
    transform: translate3d(41vw, 30vh, 59px);
    animation: particleMoves36 35s infinite;
    animation-delay: -7.2s; }

@keyframes particleMoves37 {
  100% {
    transform: translate3d(3vw, 33vh, 15px); } }
  header .particleDot:nth-child(37) {
    height: 7px;
    width: 7px;
    background-color: #185922;
    transform: translate3d(52vw, 21vh, 78px);
    animation: particleMoves37 35s infinite;
    animation-delay: -7.4s; }

@keyframes particleMoves38 {
  100% {
    transform: translate3d(11vw, 3vh, 37px); } }
  header .particleDot:nth-child(38) {
    height: 18px;
    width: 18px;
    background-color: #749284;
    transform: translate3d(30vw, 30vh, 86px);
    animation: particleMoves38 35s infinite;
    animation-delay: -7.6s; }

@keyframes particleMoves39 {
  100% {
    transform: translate3d(39vw, 86vh, 18px); } }
  header .particleDot:nth-child(39) {
    height: 9px;
    width: 9px;
    background-color: #714221;
    transform: translate3d(46vw, 82vh, 67px);
    animation: particleMoves39 35s infinite;
    animation-delay: -7.8s; }

@keyframes particleMoves40 {
  100% {
    transform: translate3d(44vw, 73vh, 16px); } }
  header .particleDot:nth-child(40) {
    height: 15px;
    width: 15px;
    background-color: #561519;
    transform: translate3d(40vw, 57vh, 85px);
    animation: particleMoves40 35s infinite;
    animation-delay: -8s; }

@keyframes particleMoves41 {
  100% {
    transform: translate3d(85vw, 81vh, 23px); } }
  header .particleDot:nth-child(41) {
    height: 16px;
    width: 16px;
    background-color: #391618;
    transform: translate3d(29vw, 25vh, 91px);
    animation: particleMoves41 35s infinite;
    animation-delay: -8.2s; }

@keyframes particleMoves42 {
  100% {
    transform: translate3d(14vw, 87vh, 11px); } }
  header .particleDot:nth-child(42) {
    height: 14px;
    width: 14px;
    background-color: #377886;
    transform: translate3d(10vw, 9vh, 56px);
    animation: particleMoves42 35s infinite;
    animation-delay: -8.4s; }

@keyframes particleMoves43 {
  100% {
    transform: translate3d(71vw, 49vh, 24px); } }
  header .particleDot:nth-child(43) {
    height: 14px;
    width: 14px;
    background-color: #443191;
    transform: translate3d(36vw, 60vh, 10px);
    animation: particleMoves43 35s infinite;
    animation-delay: -8.6s; }

@keyframes particleMoves44 {
  100% {
    transform: translate3d(43vw, 72vh, 86px); } }
  header .particleDot:nth-child(44) {
    height: 14px;
    width: 14px;
    background-color: #227917;
    transform: translate3d(35vw, 78vh, 9px);
    animation: particleMoves44 35s infinite;
    animation-delay: -8.8s; }

@keyframes particleMoves45 {
  100% {
    transform: translate3d(2vw, 60vh, 95px); } }
  header .particleDot:nth-child(45) {
    height: 14px;
    width: 14px;
    background-color: #193657;
    transform: translate3d(64vw, 29vh, 51px);
    animation: particleMoves45 35s infinite;
    animation-delay: -9s; }

@keyframes particleMoves46 {
  100% {
    transform: translate3d(20vw, 27vh, 8px); } }
  header .particleDot:nth-child(46) {
    height: 11px;
    width: 11px;
    background-color: #289915;
    transform: translate3d(84vw, 7vh, 54px);
    animation: particleMoves46 35s infinite;
    animation-delay: -9.2s; }

@keyframes particleMoves47 {
  100% {
    transform: translate3d(50vw, 24vh, 90px); } }
  header .particleDot:nth-child(47) {
    height: 7px;
    width: 7px;
    background-color: #975981;
    transform: translate3d(62vw, 74vh, 5px);
    animation: particleMoves47 35s infinite;
    animation-delay: -9.4s; }

@keyframes particleMoves48 {
  100% {
    transform: translate3d(82vw, 90vh, 11px); } }
  header .particleDot:nth-child(48) {
    height: 9px;
    width: 9px;
    background-color: #721535;
    transform: translate3d(68vw, 37vh, 27px);
    animation: particleMoves48 35s infinite;
    animation-delay: -9.6s; }

@keyframes particleMoves49 {
  100% {
    transform: translate3d(53vw, 67vh, 7px); } }
  header .particleDot:nth-child(49) {
    height: 7px;
    width: 7px;
    background-color: #783236;
    transform: translate3d(2vw, 10vh, 96px);
    animation: particleMoves49 35s infinite;
    animation-delay: -9.8s; }

@keyframes particleMoves50 {
  100% {
    transform: translate3d(58vw, 61vh, 85px); } }
  header .particleDot:nth-child(50) {
    height: 15px;
    width: 15px;
    background-color: #283415;
    transform: translate3d(26vw, 51vh, 84px);
    animation: particleMoves50 35s infinite;
    animation-delay: -10s; }

@keyframes particleMoves51 {
  100% {
    transform: translate3d(90vw, 51vh, 51px); } }
  header .particleDot:nth-child(51) {
    height: 13px;
    width: 13px;
    background-color: #366426;
    transform: translate3d(18vw, 32vh, 53px);
    animation: particleMoves51 35s infinite;
    animation-delay: -10.2s; }

@keyframes particleMoves52 {
  100% {
    transform: translate3d(40vw, 33vh, 53px); } }
  header .particleDot:nth-child(52) {
    height: 13px;
    width: 13px;
    background-color: #644998;
    transform: translate3d(28vw, 25vh, 95px);
    animation: particleMoves52 35s infinite;
    animation-delay: -10.4s; }

@keyframes particleMoves53 {
  100% {
    transform: translate3d(59vw, 81vh, 72px); } }
  header .particleDot:nth-child(53) {
    height: 20px;
    width: 20px;
    background-color: #989557;
    transform: translate3d(56vw, 2vh, 9px);
    animation: particleMoves53 35s infinite;
    animation-delay: -10.6s; }

@keyframes particleMoves54 {
  100% {
    transform: translate3d(77vw, 17vh, 22px); } }
  header .particleDot:nth-child(54) {
    height: 16px;
    width: 16px;
    background-color: #779723;
    transform: translate3d(79vw, 62vh, 57px);
    animation: particleMoves54 35s infinite;
    animation-delay: -10.8s; }

@keyframes particleMoves55 {
  100% {
    transform: translate3d(34vw, 69vh, 48px); } }
  header .particleDot:nth-child(55) {
    height: 15px;
    width: 15px;
    background-color: #615448;
    transform: translate3d(80vw, 70vh, 26px);
    animation: particleMoves55 35s infinite;
    animation-delay: -11s; }

@keyframes particleMoves56 {
  100% {
    transform: translate3d(16vw, 27vh, 15px); } }
  header .particleDot:nth-child(56) {
    height: 11px;
    width: 11px;
    background-color: #467457;
    transform: translate3d(36vw, 3vh, 6px);
    animation: particleMoves56 35s infinite;
    animation-delay: -11.2s; }

@keyframes particleMoves57 {
  100% {
    transform: translate3d(78vw, 42vh, 60px); } }
  header .particleDot:nth-child(57) {
    height: 16px;
    width: 16px;
    background-color: #782921;
    transform: translate3d(76vw, 85vh, 54px);
    animation: particleMoves57 35s infinite;
    animation-delay: -11.4s; }

@keyframes particleMoves58 {
  100% {
    transform: translate3d(12vw, 36vh, 60px); } }
  header .particleDot:nth-child(58) {
    height: 7px;
    width: 7px;
    background-color: #738429;
    transform: translate3d(3vw, 21vh, 80px);
    animation: particleMoves58 35s infinite;
    animation-delay: -11.6s; }

@keyframes particleMoves59 {
  100% {
    transform: translate3d(53vw, 37vh, 20px); } }
  header .particleDot:nth-child(59) {
    height: 9px;
    width: 9px;
    background-color: #354518;
    transform: translate3d(34vw, 21vh, 36px);
    animation: particleMoves59 35s infinite;
    animation-delay: -11.8s; }

@keyframes particleMoves60 {
  100% {
    transform: translate3d(54vw, 78vh, 35px); } }
  header .particleDot:nth-child(60) {
    height: 16px;
    width: 16px;
    background-color: #166861;
    transform: translate3d(50vw, 87vh, 92px);
    animation: particleMoves60 35s infinite;
    animation-delay: -12s; }
  header nav {
    display: flex;
    background: transparent;
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0; }
    header nav #hamburgerBtn {
      margin-top: 10px;
      border: 0;
      width: 26px;
      height: 26px;
      position: relative;
      border: 0;
      border-radius: 500px;
      transform: rotate(0deg);
      transition: .5s ease-in-out;
      cursor: pointer; }
      header nav #hamburgerBtn span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #766F57;
        border-radius: 9px;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out; }
        header nav #hamburgerBtn span:nth-child(1) {
          top: 0px; }
        header nav #hamburgerBtn span:nth-child(2) {
          top: 10px; }
        header nav #hamburgerBtn span:nth-child(3) {
          top: 20px; }
      header nav #hamburgerBtn.open span:nth-child(1) {
        top: 10px;
        transform: rotate(135deg); }
      header nav #hamburgerBtn.open span:nth-child(2) {
        opacity: 0;
        left: -30px; }
      header nav #hamburgerBtn.open span:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg); }
    header nav a {
      color: #FFF;
      z-index: 3; }
      header nav a:focus {
        outline: none; }
      header nav a::-moz-focus-inner {
        border: 0; }
  header .firstLookBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    z-index: 2; }
    header .firstLookBox a {
      color: #FFF; }
      header .firstLookBox a i {
        position: relative;
        animation: nextSectionArrow 1s infinite; }

.aboutMeInfo {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top left, #223f80, #cc9c00); }
  .aboutMeInfo .aboutMe .aboutMeText {
    color: #FFF; }
    .aboutMeInfo .aboutMe .aboutMeText h2 {
      text-align: center; }
    .aboutMeInfo .aboutMe .aboutMeText p {
      text-align: justify; }

.technologies {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  background-color: #766F57; }
  .technologies h2 {
    width: 100%;
    height: auto;
    text-align: center; }
  .technologies .stackImages #tech1 {
    display: flex;
    justify-content: center; }
    .technologies .stackImages #tech1 p {
      font-family: "anke";
      font-weight: bold; }
  .technologies .stackImages #tech2 {
    display: flex;
    justify-content: center; }
    .technologies .stackImages #tech2 p {
      font-family: "anke";
      font-weight: bold; }
  .technologies .stackImages #tech3 {
    display: flex;
    justify-content: center; }
    .technologies .stackImages #tech3 p {
      font-family: "anke";
      font-weight: bold; }
  .technologies .stackImages #tech4 {
    display: flex;
    justify-content: center; }
    .technologies .stackImages #tech4 p {
      font-family: "anke";
      font-weight: bold; }
  .technologies .stackImages #tech5 {
    display: flex;
    justify-content: center; }
    .technologies .stackImages #tech5 p {
      font-family: "anke";
      font-weight: bold; }
  .technologies .stackImages #tech6 {
    display: flex;
    justify-content: center; }
    .technologies .stackImages #tech6 p {
      font-family: "anke";
      font-weight: bold; }
  .technologies .stackImages .iconChange1 {
    background-color: #FFF;
    clip-path: polygon(10% 5%, 90% 5%, 85% 80%, 50% 95%, 15% 80%); }
  .technologies .stackImages .iconChange2 {
    background-color: #FFF;
    display: flex;
    justify-content: center; }

.projects {
  background-image: url("/images/projectBackgroundImage2.jpeg");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .projects h2 {
    width: 100%;
    height: auto;
    text-align: center; }
  .projects .projectBox {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .projects .projectBox .project1 {
      position: relative;
      border-radius: 5%;
      width: 40%;
      height: 40%; }
      .projects .projectBox .project1 img {
        border-radius: 5%;
        width: 100%;
        height: 100%; }
      .projects .projectBox .project1 .hoverBtns {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .projects .projectBox .project1 .hoverBtns i {
          background: #FFF;
          padding: 5px;
          border-radius: 10%;
          color: #000; }
    .projects .projectBox .project2 {
      position: relative;
      border-radius: 5%;
      width: 40%;
      height: 40%; }
      .projects .projectBox .project2 img {
        border-radius: 5%;
        width: 100%;
        height: 100%; }
      .projects .projectBox .project2 .hoverBtns {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .projects .projectBox .project2 .hoverBtns i {
          background: #FFF;
          padding: 5px;
          border-radius: 10%;
          color: #000; }
    .projects .projectBox .project3 {
      position: relative;
      border-radius: 5%;
      width: 40%;
      height: 40%; }
      .projects .projectBox .project3 img {
        border-radius: 5%;
        width: 100%;
        height: 100%; }
      .projects .projectBox .project3 .hoverBtns {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .projects .projectBox .project3 .hoverBtns i {
          background: #FFF;
          padding: 5px;
          border-radius: 10%;
          color: #000; }
    .projects .projectBox .project4 {
      position: relative;
      border-radius: 5%;
      width: 40%;
      height: 40%; }
      .projects .projectBox .project4 img {
        border-radius: 5%;
        width: 100%;
        height: 100%; }
      .projects .projectBox .project4 .hoverBtns {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .projects .projectBox .project4 .hoverBtns i {
          background: #FFF;
          padding: 5px;
          border-radius: 10%;
          color: #000; }

.contact {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  background-color: #000; }
  .contact h2 {
    width: 100%;
    height: auto;
    text-align: center;
    color: #FFF; }
  .contact .contactInfo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column; }
    .contact .contactInfo p {
      color: #FFF; }
    .contact .contactInfo .contactMethods {
      display: flex;
      justify-content: center;
      flex-direction: row; }
      .contact .contactInfo .contactMethods p {
        display: none; }
      .contact .contactInfo .contactMethods .mailBox i,
      .contact .contactInfo .contactMethods .phoneBox i,
      .contact .contactInfo .contactMethods .messengerBox i,
      .contact .contactInfo .contactMethods .linkedInBox i {
        display: flex;
        justify-content: center;
        background-color: #FFF; }
      .contact .contactInfo .contactMethods .mailBox .mailIcon,
      .contact .contactInfo .contactMethods .phoneBox .mailIcon,
      .contact .contactInfo .contactMethods .messengerBox .mailIcon,
      .contact .contactInfo .contactMethods .linkedInBox .mailIcon {
        color: #D50707; }
      .contact .contactInfo .contactMethods .mailBox .phoneIcon,
      .contact .contactInfo .contactMethods .phoneBox .phoneIcon,
      .contact .contactInfo .contactMethods .messengerBox .phoneIcon,
      .contact .contactInfo .contactMethods .linkedInBox .phoneIcon {
        color: #2DC100; }
      .contact .contactInfo .contactMethods .mailBox .messengerIcon,
      .contact .contactInfo .contactMethods .phoneBox .messengerIcon,
      .contact .contactInfo .contactMethods .messengerBox .messengerIcon,
      .contact .contactInfo .contactMethods .linkedInBox .messengerIcon {
        color: #007FFF; }
      .contact .contactInfo .contactMethods .mailBox .linkedInIcon,
      .contact .contactInfo .contactMethods .phoneBox .linkedInIcon,
      .contact .contactInfo .contactMethods .messengerBox .linkedInIcon,
      .contact .contactInfo .contactMethods .linkedInBox .linkedInIcon {
        color: #FFDA44; }
      .contact .contactInfo .contactMethods .mailBox a:hover,
      .contact .contactInfo .contactMethods .messengerBox a:hover,
      .contact .contactInfo .contactMethods .linkedInBox a:hover {
        text-decoration: none; }
      .contact .contactInfo .contactMethods .phoneBox {
        position: relative; }
        .contact .contactInfo .contactMethods .phoneBox p {
          width: auto;
          position: absolute;
          white-space: nowrap; }
    .contact .contactInfo .mapBox {
      width: 100%;
      padding: 0;
      margin: 0; }
      .contact .contactInfo .mapBox iframe {
        width: 100%; }

footer {
  width: 100%;
  height: auto;
  position: relative; }
  footer .copyRights {
    width: 100%;
    height: auto;
    background-color: #766F57;
    padding: 20px;
    position: absolute;
    top: -4px;
    left: 0; }
  footer .backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5; }
    footer .backToTop .btnToTop {
      display: none;
      outline: none;
      width: 50px;
      height: 50px;
      background-color: #5f4b8b;
      border-radius: 50%;
      position: fixed;
      bottom: 20px;
      right: 20px;
      color: #FFF;
      cursor: pointer; }
      footer .backToTop .btnToTop:hover {
        color: #000;
        background-color: #7d698b; }

@media only screen and (min-width: 1200px) {
  nav {
    justify-content: flex-end;
    font-size: 1.5rem; }
    nav .menuTop {
      display: flex;
      flex-direction: row; }
    nav a {
      transition: all .4s ease-in-out;
      font-weight: bold;
      margin: 15px; }
      nav a:hover {
        color: #766F57;
        transform: scale(1.1);
        border-bottom: 3px #766F57 solid; }
  .firstLookBox h1 {
    font-size: 4rem;
    margin: 30px auto; }
  .firstLookBox p {
    font-size: 18px; }
  .firstLookBox a {
    font-size: 35px;
    border: none; }
  .aboutMe {
    display: flex;
    justify-content: center;
    align-items: center; }
    .aboutMe .aboutMeText {
      padding: 30px; }
      .aboutMe .aboutMeText h2 {
        font-size: 3rem;
        margin-bottom: 20px; }
      .aboutMe .aboutMeText p {
        font-size: 20px; }
  .technologies {
    padding: 40px 150px; }
    .technologies h2 {
      font-family: "anke";
      font-size: 3rem;
      margin: 30px auto; }
    .technologies .stackImages {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      flex-wrap: wrap; }
      .technologies .stackImages #tech1 {
        flex-direction: column;
        align-items: center;
        margin: 70px;
        width: 30%; }
        .technologies .stackImages #tech1 i {
          font-size: 100px; }
        .technologies .stackImages #tech1 p {
          font-size: 50px; }
      .technologies .stackImages #tech2 {
        flex-direction: column;
        align-items: center;
        margin: 70px;
        width: 30%; }
        .technologies .stackImages #tech2 i {
          font-size: 100px; }
        .technologies .stackImages #tech2 p {
          font-size: 50px; }
      .technologies .stackImages #tech3 {
        flex-direction: column;
        align-items: center;
        margin: 70px;
        width: 30%; }
        .technologies .stackImages #tech3 i {
          font-size: 100px; }
        .technologies .stackImages #tech3 p {
          font-size: 50px; }
      .technologies .stackImages #tech4 {
        flex-direction: column;
        align-items: center;
        margin: 70px;
        width: 30%; }
        .technologies .stackImages #tech4 i {
          font-size: 100px; }
        .technologies .stackImages #tech4 p {
          font-size: 50px; }
      .technologies .stackImages #tech5 {
        flex-direction: column;
        align-items: center;
        margin: 70px;
        width: 30%; }
        .technologies .stackImages #tech5 i {
          font-size: 100px; }
        .technologies .stackImages #tech5 p {
          font-size: 50px; }
      .technologies .stackImages #tech6 {
        flex-direction: column;
        align-items: center;
        margin: 70px;
        width: 30%; }
        .technologies .stackImages #tech6 i {
          font-size: 100px; }
        .technologies .stackImages #tech6 p {
          font-size: 50px; }
      .technologies .stackImages .iconChange2 {
        line-height: 88px;
        width: 90px; }
  .projects h2 {
    font-family: "anke";
    font-size: 3rem;
    margin: 30px auto; }
  .projects .projectBox .project1 {
    margin: 30px; }
    .projects .projectBox .project1:hover img {
      filter: brightness(35%); }
    .projects .projectBox .project1:hover .hoverBtns {
      display: initial; }
    .projects .projectBox .project1 .hoverBtns {
      display: none; }
      .projects .projectBox .project1 .hoverBtns i {
        font-size: 30px;
        margin: 10px; }
        .projects .projectBox .project1 .hoverBtns i:hover {
          background-color: #c2c9cf;
          color: #766F57;
          transform: scale(1.1); }
  .projects .projectBox .project2 {
    margin: 30px; }
    .projects .projectBox .project2:hover img {
      filter: brightness(35%); }
    .projects .projectBox .project2:hover .hoverBtns {
      display: initial; }
    .projects .projectBox .project2 .hoverBtns {
      display: none; }
      .projects .projectBox .project2 .hoverBtns i {
        font-size: 30px;
        margin: 10px; }
        .projects .projectBox .project2 .hoverBtns i:hover {
          background-color: #c2c9cf;
          color: #766F57;
          transform: scale(1.1); }
  .projects .projectBox .project3 {
    margin: 30px; }
    .projects .projectBox .project3:hover img {
      filter: brightness(35%); }
    .projects .projectBox .project3:hover .hoverBtns {
      display: initial; }
    .projects .projectBox .project3 .hoverBtns {
      display: none; }
      .projects .projectBox .project3 .hoverBtns i {
        font-size: 30px;
        margin: 10px; }
        .projects .projectBox .project3 .hoverBtns i:hover {
          background-color: #c2c9cf;
          color: #766F57;
          transform: scale(1.1); }
  .projects .projectBox .project4 {
    margin: 30px; }
    .projects .projectBox .project4:hover img {
      filter: brightness(35%); }
    .projects .projectBox .project4:hover .hoverBtns {
      display: initial; }
    .projects .projectBox .project4 .hoverBtns {
      display: none; }
      .projects .projectBox .project4 .hoverBtns i {
        font-size: 30px;
        margin: 10px; }
        .projects .projectBox .project4 .hoverBtns i:hover {
          background-color: #c2c9cf;
          color: #766F57;
          transform: scale(1.1); }
  .contact h2 {
    font-family: "anke";
    font-size: 3rem;
    margin: 30px auto; }
  .contact .contactInfo > p {
    font-size: 23px;
    margin: 30px auto; }
  .contact .contactInfo .contactMethods {
    margin: 30px auto; }
    .contact .contactInfo .contactMethods .mailBox i,
    .contact .contactInfo .contactMethods .phoneBox i,
    .contact .contactInfo .contactMethods .messengerBox i,
    .contact .contactInfo .contactMethods .linkedInBox i {
      font-size: 55px;
      margin: 30px;
      line-height: 40px;
      cursor: pointer; }
      .contact .contactInfo .contactMethods .mailBox i:hover,
      .contact .contactInfo .contactMethods .phoneBox i:hover,
      .contact .contactInfo .contactMethods .messengerBox i:hover,
      .contact .contactInfo .contactMethods .linkedInBox i:hover {
        transform: scale(1.2); }
    .contact .contactInfo .contactMethods .mailBox .mailIcon,
    .contact .contactInfo .contactMethods .phoneBox .mailIcon,
    .contact .contactInfo .contactMethods .messengerBox .mailIcon,
    .contact .contactInfo .contactMethods .linkedInBox .mailIcon {
      width: 50px; }
    .contact .contactInfo .contactMethods .mailBox .phoneIcon,
    .contact .contactInfo .contactMethods .phoneBox .phoneIcon,
    .contact .contactInfo .contactMethods .messengerBox .phoneIcon,
    .contact .contactInfo .contactMethods .linkedInBox .phoneIcon {
      width: 45px; }
    .contact .contactInfo .contactMethods .mailBox .messengerIcon,
    .contact .contactInfo .contactMethods .phoneBox .messengerIcon,
    .contact .contactInfo .contactMethods .messengerBox .messengerIcon,
    .contact .contactInfo .contactMethods .linkedInBox .messengerIcon {
      line-height: 32px;
      width: 32px; }
    .contact .contactInfo .contactMethods .phoneBox p {
      top: 90px;
      left: 0; } }

@media only screen and (max-width: 1199px) {
  nav {
    justify-content: flex-end;
    font-size: 1.2rem; }
    nav .menuTop {
      display: flex;
      flex-direction: row; }
      nav .menuTop a {
        margin: 10px; }
  .firstLookBox h1 {
    font-size: 3rem;
    margin: 30px auto; }
  .firstLookBox p {
    font-size: 18px; }
  .firstLookBox a {
    font-size: 32px;
    border: none; }
  .aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .aboutMe img {
      width: 170px;
      height: auto; }
    .aboutMe .aboutMeText {
      float: right;
      padding: 10px 30px;
      font-size: 18px; }
      .aboutMe .aboutMeText h2 {
        font-size: 2rem;
        margin-bottom: 10px; }
  .technologies {
    padding: 30px 100px; }
    .technologies h2 {
      font-family: "anke";
      font-size: 2rem;
      margin: 25px auto; }
    .technologies .stackImages {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      flex-wrap: wrap; }
      .technologies .stackImages #tech1 {
        flex-direction: column;
        align-items: center;
        margin: 50px;
        width: 30%; }
        .technologies .stackImages #tech1 i {
          font-size: 80px; }
        .technologies .stackImages #tech1 p {
          font-size: 35px; }
      .technologies .stackImages #tech2 {
        flex-direction: column;
        align-items: center;
        margin: 50px;
        width: 30%; }
        .technologies .stackImages #tech2 i {
          font-size: 80px; }
        .technologies .stackImages #tech2 p {
          font-size: 35px; }
      .technologies .stackImages #tech3 {
        flex-direction: column;
        align-items: center;
        margin: 50px;
        width: 30%; }
        .technologies .stackImages #tech3 i {
          font-size: 80px; }
        .technologies .stackImages #tech3 p {
          font-size: 35px; }
      .technologies .stackImages #tech4 {
        flex-direction: column;
        align-items: center;
        margin: 50px;
        width: 30%; }
        .technologies .stackImages #tech4 i {
          font-size: 80px; }
        .technologies .stackImages #tech4 p {
          font-size: 35px; }
      .technologies .stackImages #tech5 {
        flex-direction: column;
        align-items: center;
        margin: 50px;
        width: 30%; }
        .technologies .stackImages #tech5 i {
          font-size: 80px; }
        .technologies .stackImages #tech5 p {
          font-size: 35px; }
      .technologies .stackImages #tech6 {
        flex-direction: column;
        align-items: center;
        margin: 50px;
        width: 30%; }
        .technologies .stackImages #tech6 i {
          font-size: 80px; }
        .technologies .stackImages #tech6 p {
          font-size: 35px; }
      .technologies .stackImages .iconChange2 {
        line-height: 75px;
        width: 70px; }
  .projects h2 {
    font-family: "anke";
    font-size: 2rem;
    margin: 25px auto; }
  .projects .projectBox .project1 {
    margin: 20px; }
    .projects .projectBox .project1 img {
      filter: brightness(35%); }
    .projects .projectBox .project1 .hoverBtns i {
      font-size: 25px;
      margin: 8px; }
  .projects .projectBox .project2 {
    margin: 20px; }
    .projects .projectBox .project2 img {
      filter: brightness(35%); }
    .projects .projectBox .project2 .hoverBtns i {
      font-size: 25px;
      margin: 8px; }
  .projects .projectBox .project3 {
    margin: 20px; }
    .projects .projectBox .project3 img {
      filter: brightness(35%); }
    .projects .projectBox .project3 .hoverBtns i {
      font-size: 25px;
      margin: 8px; }
  .projects .projectBox .project4 {
    margin: 20px; }
    .projects .projectBox .project4 img {
      filter: brightness(35%); }
    .projects .projectBox .project4 .hoverBtns i {
      font-size: 25px;
      margin: 8px; }
  .contact h2 {
    font-family: "anke";
    font-size: 2rem;
    margin: 25px auto; }
  .contact .contactInfo p {
    font-size: 18px;
    margin: 20px auto; }
  .contact .contactInfo .contactMethods {
    margin: 30px auto; }
    .contact .contactInfo .contactMethods .mailBox i,
    .contact .contactInfo .contactMethods .phoneBox i,
    .contact .contactInfo .contactMethods .messengerBox i,
    .contact .contactInfo .contactMethods .linkedInBox i {
      font-size: 55px;
      margin: 30px;
      line-height: 40px;
      cursor: pointer; }
    .contact .contactInfo .contactMethods .mailBox .mailIcon,
    .contact .contactInfo .contactMethods .phoneBox .mailIcon,
    .contact .contactInfo .contactMethods .messengerBox .mailIcon,
    .contact .contactInfo .contactMethods .linkedInBox .mailIcon {
      width: 50px; }
    .contact .contactInfo .contactMethods .mailBox .phoneIcon,
    .contact .contactInfo .contactMethods .phoneBox .phoneIcon,
    .contact .contactInfo .contactMethods .messengerBox .phoneIcon,
    .contact .contactInfo .contactMethods .linkedInBox .phoneIcon {
      width: 45px; }
    .contact .contactInfo .contactMethods .mailBox .messengerIcon,
    .contact .contactInfo .contactMethods .phoneBox .messengerIcon,
    .contact .contactInfo .contactMethods .messengerBox .messengerIcon,
    .contact .contactInfo .contactMethods .linkedInBox .messengerIcon {
      line-height: 32px;
      width: 32px; }
    .contact .contactInfo .contactMethods .phoneBox p {
      top: 70px;
      left: -10px; } }

@media only screen and (max-width: 900px) {
  nav a {
    margin: 5px; }
  .firstLookBox h1 {
    font-size: 2rem;
    margin: 30px auto; }
  .firstLookBox p {
    font-size: 16px; }
  .firstLookBox a {
    font-size: 32px;
    border: none; }
  .aboutMe {
    flex-direction: column; }
    .aboutMe .aboutMeText {
      padding: 30px; }
      .aboutMe .aboutMeText h2 {
        font-size: 2rem;
        margin-bottom: 10px; }
  .projects {
    background-position: right center; }
    .projects .projectBox {
      margin-bottom: 30px; }
  .contact h2 {
    font-family: "anke";
    font-size: 2rem;
    margin: 25px auto; }
  .contact .contactInfo p {
    font-size: 18px;
    margin: 20px auto;
    width: 80%; }
  .contact .contactInfo .contactMethods {
    margin: 30px auto; }
    .contact .contactInfo .contactMethods .mailBox i,
    .contact .contactInfo .contactMethods .phoneBox i,
    .contact .contactInfo .contactMethods .messengerBox i,
    .contact .contactInfo .contactMethods .linkedInBox i {
      font-size: 55px;
      margin: 30px;
      line-height: 40px;
      cursor: pointer; }
    .contact .contactInfo .contactMethods .mailBox .mailIcon,
    .contact .contactInfo .contactMethods .phoneBox .mailIcon,
    .contact .contactInfo .contactMethods .messengerBox .mailIcon,
    .contact .contactInfo .contactMethods .linkedInBox .mailIcon {
      width: 50px; }
    .contact .contactInfo .contactMethods .mailBox .phoneIcon,
    .contact .contactInfo .contactMethods .phoneBox .phoneIcon,
    .contact .contactInfo .contactMethods .messengerBox .phoneIcon,
    .contact .contactInfo .contactMethods .linkedInBox .phoneIcon {
      width: 45px; }
    .contact .contactInfo .contactMethods .mailBox .messengerIcon,
    .contact .contactInfo .contactMethods .phoneBox .messengerIcon,
    .contact .contactInfo .contactMethods .messengerBox .messengerIcon,
    .contact .contactInfo .contactMethods .linkedInBox .messengerIcon {
      line-height: 32px;
      width: 32px; } }

@media only screen and (max-width: 600px) {
  header .navbarMain nav {
    background-color: rgba(250, 250, 250, 0.6);
    padding-bottom: 5px;
    width: 100%;
    height: auto; }
    header .navbarMain nav .menuTop {
      flex-direction: column;
      display: none; }
      header .navbarMain nav .menuTop a {
        text-align: center;
        color: #766F57; }
  .aboutMe {
    width: 100%;
    height: auto;
    margin-top: 50px; }
    .aboutMe img {
      width: 100px;
      height: auto; }
    .aboutMe .aboutMeText {
      padding: 15px; }
      .aboutMe .aboutMeText h2 {
        font-size: 2rem;
        margin-bottom: 10px; }
      .aboutMe .aboutMeText p {
        font-size: 15px; }
  .technologies {
    padding: 20px 50px; }
    .technologies h2 {
      font-family: "anke";
      font-size: 1.5rem;
      margin: 20px auto; }
    .technologies .stackImages {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      flex-wrap: wrap; }
      .technologies .stackImages #tech1 {
        flex-direction: column;
        align-items: center;
        margin: 15px;
        width: 100%; }
        .technologies .stackImages #tech1 i {
          font-size: 50px; }
        .technologies .stackImages #tech1 p {
          font-size: 20px; }
      .technologies .stackImages #tech2 {
        flex-direction: column;
        align-items: center;
        margin: 15px;
        width: 100%; }
        .technologies .stackImages #tech2 i {
          font-size: 50px; }
        .technologies .stackImages #tech2 p {
          font-size: 20px; }
      .technologies .stackImages #tech3 {
        flex-direction: column;
        align-items: center;
        margin: 15px;
        width: 100%; }
        .technologies .stackImages #tech3 i {
          font-size: 50px; }
        .technologies .stackImages #tech3 p {
          font-size: 20px; }
      .technologies .stackImages #tech4 {
        flex-direction: column;
        align-items: center;
        margin: 15px;
        width: 100%; }
        .technologies .stackImages #tech4 i {
          font-size: 50px; }
        .technologies .stackImages #tech4 p {
          font-size: 20px; }
      .technologies .stackImages #tech5 {
        flex-direction: column;
        align-items: center;
        margin: 15px;
        width: 100%; }
        .technologies .stackImages #tech5 i {
          font-size: 50px; }
        .technologies .stackImages #tech5 p {
          font-size: 20px; }
      .technologies .stackImages #tech6 {
        flex-direction: column;
        align-items: center;
        margin: 15px;
        width: 100%; }
        .technologies .stackImages #tech6 i {
          font-size: 50px; }
        .technologies .stackImages #tech6 p {
          font-size: 20px; }
      .technologies .stackImages .iconChange2 {
        line-height: 45px;
        width: 42px; }
  .projects h2 {
    font-family: "anke";
    font-size: 1.5rem;
    margin: 20px auto; }
  .projects .projectBox .project1 {
    width: 100%;
    height: 150px;
    margin: 20px; }
  .projects .projectBox .project2 {
    width: 100%;
    height: 150px;
    margin: 20px; }
  .projects .projectBox .project3 {
    width: 100%;
    height: 150px;
    margin: 20px; }
  .projects .projectBox .project4 {
    width: 100%;
    height: 150px;
    margin: 20px; }
  .contact h2 {
    font-family: "anke";
    font-size: 1.5rem;
    margin: 20px auto; }
  .contact .contactInfo > p {
    font-size: 15px;
    margin: 15px auto;
    width: 80%; }
  .contact .contactInfo .contactMethods {
    margin: 20px auto; }
    .contact .contactInfo .contactMethods .mailBox i,
    .contact .contactInfo .contactMethods .phoneBox i,
    .contact .contactInfo .contactMethods .messengerBox i,
    .contact .contactInfo .contactMethods .linkedInBox i {
      font-size: 40px;
      margin: 20px;
      line-height: 30px;
      cursor: pointer; }
    .contact .contactInfo .contactMethods .mailBox .mailIcon,
    .contact .contactInfo .contactMethods .phoneBox .mailIcon,
    .contact .contactInfo .contactMethods .messengerBox .mailIcon,
    .contact .contactInfo .contactMethods .linkedInBox .mailIcon {
      width: 35px; }
    .contact .contactInfo .contactMethods .mailBox .phoneIcon,
    .contact .contactInfo .contactMethods .phoneBox .phoneIcon,
    .contact .contactInfo .contactMethods .messengerBox .phoneIcon,
    .contact .contactInfo .contactMethods .linkedInBox .phoneIcon {
      width: 32px; }
    .contact .contactInfo .contactMethods .mailBox p,
    .contact .contactInfo .contactMethods .phoneBox p,
    .contact .contactInfo .contactMethods .messengerBox p,
    .contact .contactInfo .contactMethods .linkedInBox p {
      top: 45px;
      left: -10px;
      font-size: 13px; }
    .contact .contactInfo .contactMethods .mailBox .messengerIcon,
    .contact .contactInfo .contactMethods .phoneBox .messengerIcon,
    .contact .contactInfo .contactMethods .messengerBox .messengerIcon,
    .contact .contactInfo .contactMethods .linkedInBox .messengerIcon {
      line-height: 22px;
      width: 22px; }
  .contact .contactInfo .mapBox iframe {
    height: 300px; }
  footer .copyRights {
    padding: 15px; }
    footer .copyRights p {
      font-size: 10px; } }

@media only screen and (max-width: 350px) {
  header .navbarMain nav .menuTop a {
    margin: 0; }
  header .firstLookBox {
    justify-content: flex-end; }
    header .firstLookBox a {
      margin-top: 50px; }
  .aboutMeInfo {
    height: auto; }
    .aboutMeInfo .aboutMe {
      margin: 50px auto; }
      .aboutMeInfo .aboutMe .aboutMeText p {
        text-align: left;
        font-size: 14px; }
  .projects .projectBox .project1 .hoverBtns i {
    font-size: 25px;
    margin: 6px; }
  .projects .projectBox .project2 .hoverBtns i {
    font-size: 25px;
    margin: 6px; }
  .projects .projectBox .project3 .hoverBtns i {
    font-size: 25px;
    margin: 6px; }
  .projects .projectBox .project4 .hoverBtns i {
    font-size: 25px;
    margin: 6px; } }

@keyframes nextSectionArrow {
  0% {
    top: 0; }
  25% {
    top: 2px; }
  50% {
    top: 4px; }
  75% {
    top: 5px; }
  100% {
    top: 6px; } }

/*# sourceMappingURL=style.css.map */