$font-family-main-title: 'Kaushan Script', cursive;
$font-family-workSans: 'Work Sans', sans-serif;

$facebook-color: #3B5998;
$sand-color: #FFE978;

$carousel-transition: .5s;

@mixin opacityBackg() {
    background-color: rgba(250, 250, 250, .6); 
}

@mixin flexCentRow() {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

body {
    font-family: $font-family-workSans;
    width: 90%;
    margin: 0 auto;
    background-image: url("https://static9.depositphotos.com/1098496/1178/i/950/depositphotos_11786094-stock-photo-sandbackground.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    overflow-x: hidden;
}

header {
    .hero {
        position: relative;    
        width: 100%;
        min-height: 400px;
        background: transparent;       
        .myNavClass {
            font-size: 26px;
            z-index: 3;
            width: 100%;
        }
        p {
            font-family: $font-family-main-title;
            text-align: center;    
            background: transparent;
            color: $sand-color;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }   
}    

.aboutBiałogóra {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    min-height: 400px;
    height: auto;
    background-color: $sand-color;   
    h2 {
        font-size: 36px;
        font-weight: bold;
        letter-spacing: .05em;
        margin: 30px auto;
    }
    p {
        text-align: justify;
        font-size: 19px;
        padding: 0 30px;
        line-height: 1.5em;
    } 
    .cityGallery {
        @include flexCentRow();
        width: 100%;
        .imageView {
            width: 100%;
            height: 25vh;
            position: relative;
            overflow: hidden;
            display: flex;
            &:hover .imageChild {
                will-change: transform opacity cursor;    
            }
            &:hover .imageChild::before {
                display: flex;
            };
            .imageChild {
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transition: all .5s;
                &::before {
                    content: "";
                    display: none;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
                &:hover {
                    opacity: .6;
                    transform: scale(1.2);
                    cursor: pointer;
                }
            }
            @for $i from 1 through 4 {
                #img#{$i} {
                    background-image: url("../minifiedImages/Białogóra_view#{$i}.jpg");
                }
            }
        }
    }
    .modalBoxes {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: 4;
        .boxContent {
            position: relative;
            width: 100%;
            height: 100%;
            .closeIcon {
                position: absolute;
                color: #FFF;
                font-weight: bold;
                cursor: pointer;
                z-index: 5;
                transition: 0.6s ease;
            }
            .boxImg {
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100vh;
                }
            }
            .arrow {
                cursor: pointer;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                padding: 20px;
                color: rgb(235, 227, 223);
                font-weight: bold;
                font-size: 20px;
                border-radius: 50%;
                transition: 0.3s ease;
            }
            .modalBoxesArrow1 {
                left: 5%;
            }
            .modalBoxesArrow2 {
                right: 5%;
            }
        }
    }
}

.homeGallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FFF;
    padding-top: 50px;
    padding-bottom: 30px;
    height: auto;
    .galleryTitle {
        flex: 1 100%;
        text-align: center;
        p {
            font-size: 40px;
        }
    }
    .myOwnCarouselClass {
        display: flex;
        width: 80%;
        height: 60vh;
        .slideBox {
            width: 100%;
            justify-content: flex-start;
            flex-direction: row;
            .slideInfo {
                color: #000;
                display: flex;
                flex-direction: column;
                width: 38%;
                position: absolute;
                top: 0;
                left: 0;
                margin-top: 10%;
                z-index: 2;
            }
            img {
                width: 60%;
                max-height: 550px;
                position: absolute;
                top: 0;
                left: 40%;
            }
        }
        .carouselArrow {
            z-index: 2;
            .carouselArrow1,
            .carouselArrow2 {
                background-color: $sand-color;
                border-radius: 50%;
                border: 7px $sand-color solid;
                position: absolute;
                top: 50%;
                margin-top: -15px;
            }
        }
        
    }
}

.priceTable {
    background: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .priceHeader {
        @include flexCentRow();
        font-weight: bold;
    }
    table {
        border-collapse: separate !important;
        @include opacityBackg();
        border-radius: 10px;        
    }    
}

.contact {
    padding-top: 30px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
        font-size: 40px;
    }
    .contactMethods {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .phoneImage {
            color: lightgreen;
        }        
        .mailImage {
            color: red;
            
        }
        .facebookImage {
            color: $facebook-color;
        }
        p {
            line-height: 60px;
        }
    }
    
    .backToTop {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        .btnToTop {
            display: none;
            outline: none;
            min-width: 80px;
            min-height: 80px;
            background-color: #3B5998;
            border-radius: 50%;
            position: fixed;
            bottom: 20px;
            right: 20px;
            cursor: pointer;
            &:hover {
                background-color: rgb(149, 180, 238);
            }
        }
    }
    .copyrights {
        width: 100%;
        background-color: #000;
        color: #FFF;
        padding-top: 20px;
        padding-left: 20px;
        font-size: 13px;
    }
}


@keyframes iconHover {
    0% {transform: scale(1.0)}
    50% {transform: scale(1.2)}
    100% {transform: scale(1.0)}
}

@media only screen and (min-width: 1200px) {
    .hero {
        height: 75vh;
        .myBrandLogo {
            font-size: 40px;
        }
        .respContent {
            justify-content: flex-end;
            .textForNavbar,
            a {
                border: transparent solid;
                display: inline-block;
                text-align:center;
            }
            .textForNavbar:hover {
                border-bottom: $sand-color solid;
                cursor: pointer;
            }
            a:hover {
                font-weight:bold;    
            }
            a::after {
                display: block;
                content: attr(title);
                font-weight: bold;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }
        p {
            font-size: 60px;
        }
    }   
    .aboutBiałogóra {
        .modalBoxes {
            .boxContent {
                .closeIcon {
                    right: 30px;
                    top: 30px;
                    font-size: 35px;
                    &:hover,
                    :active {
                        color: #000;
                    }
                }
                .arrow:hover,
                .arrow:active {
                   color: rgba(235, 227, 223, 0.8);
                   background-color: #000;
               }
            }
        }
    }
    .priceTable {
        min-height: 600px;
        padding-top: 40px;
        padding-bottom: 30px;
        .priceHeader {
            padding-bottom: 20px;
            h2 {
                font-size: 40px;
            }
        }
        th,
        td {
            font-size: 20px;
            padding: 30px;
        }
        th:nth-of-type(1) {
            padding-left: 20%;
            font-size: 30px;
        }
        td:nth-of-type(2),
        td:nth-of-type(3),
        td:nth-of-type(5),
        td:nth-of-type(6) {
            padding-left: 10%;
        }
    }
    .mailImage,
    .facebookImage,
    .phoneImage {
        margin: 40px;
    }
    .contactMethods {
        .mailImage:hover,
        .facebookImage:hover {
            animation: iconHover 2s;
        }
        p {
            padding-top: 40px;
        }
    }
    .mapContainer {
        width: 100%;
        @include flexCentRow();
        iframe {
            min-width: 640px;
            min-height: 480px;
            width: 50%;
            height: auto;
        } 
    }
}

@media only screen and (max-width: 1199px) {
    .hero {
        height: 75vh;
        width: 100%;
        .myBrandLogo {
            font-size: 25px;
        }
        .respContent {
            justify-content: flex-end;
            .textForNavbar {
                border: transparent solid;
                .navElem {
                    color: rgba(0, 0, 0, 1);
                }
            }
        }
        p {
            font-size: 60px;
        }
    }   
    .aboutBiałogóra {
        .modalBoxes {
            .boxContent {
                .closeIcon {
                    right: 30px;
                    top: 30px;
                    font-size: 35px;
                    color: #000;
                }
                .arrow {
                    color: rgba(235, 227, 223, 0.8);
                    background-color: #000;
                }
            }
        }
    }
    .homeGallery {
        justify-content: center;
        .galleryTitle p {
            font-weight: bold;
            margin: 20px auto;
            font-size: 50px;
        }
        .myOwnCarouselClass {
            width: 100%;
            .slideBox {
                img {
                    height: 60vh;
                    object-fit: cover;
                }
            }
        }
    }
    .priceTable {
        padding-top: 60px;
        padding-bottom: 90px;
        .priceHeader {
            padding-bottom: 20px;
            h2 {
                font-size: 40px;
            }
        }
        th,
        td {
            font-size: 18px;
            padding: 20px;
        }
        th:nth-of-type(1) {
            padding-left: 20%;
            font-size: 30px;
        }
        td:nth-of-type(2),
        td:nth-of-type(3),
        td:nth-of-type(5),
        td:nth-of-type(6) {
            padding-left: 10%;
        }
    }
    .mailImage,
    .facebookImage,
    .phoneImage {
        margin: 20px;
    }
    .contactMethods {
        p {
            padding-top: 20px;
        }
    }
    .mapContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        iframe {
            min-width: 640px;
            min-height: 480px;
            width: 50%;
            height: auto;
        } 
    }
}

@media only screen and (max-width: 900px) {
    .hero {
        height: 75vh;
        width: 100%;
        .myBrandLogo {
            font-size: 20px;
        }
        .respContent {
            justify-content: flex-end;
            .textForNavbar {
                border: transparent solid;
                &:hover {
                    border-bottom: none;
                    cursor: default;
                    font-weight: normal;
                    margin-left: 0;
                }
            }
        }
    }   
    .aboutBiałogóra {
        .cityGallery {
            flex-wrap: wrap;
            .imageView {
                width: 50%;
            }
        }
        .modalBoxes {
            .closeIcon {
                right: 120px;
                top: 30px;
            }
        }
    }
    .homeGallery {
        padding-bottom: 0;
        justify-content: center;
        .galleryTitle p {
            font-weight: bold;
            margin: 20px auto;
            font-size: 50px;
        }
        .myOwnCarouselClass {
            width: 100%;
            height: 30vh;
            .slideBox {
                .slideInfo {
                    margin-top: 5%;
                }
                img {
                    height: 30vh;
                    object-fit: cover;
                }
            }            
        }
    }
    .priceTable {
        padding-top: 40px;
        padding-bottom: 70px;
        th,
        td {
            font-size: 15px;
            padding: 15px;
        }
    }
    .mailImage,
    .facebookImage,
    .phoneImage {
        margin: 20px;
    }
    .contactMethods {
        p {
            padding-top: 20px;
        }
    }
    .mapContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        iframe {
            min-width: 640px;
            min-height: 480px;
            width: 50%;
            height: auto;
        } 
    }
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        background-image: none;
    }
    header {
        position: relative;
        .hero {
            height: 100vh;
            width: 100%;
            .myNavClass {
                font-size: 20px;
                @include opacityBackg();
                z-index: 3;
                .flexLogo {
                    display: flex;
                    justify-content: center;
                    .myBrandLogo {
                        font-size: 20px;
                    }
                }
                .flexHamburgerMenu {
                    @include flexCentRow();
                    padding-bottom: 10px;
                    .hamburgerMenuClass {
                        border: 0;
                        width: 35px;
                        height: 30px;
                        position: relative;
                        border: 0 white solid;
                        border-radius: 500px;
                        transform: rotate(0deg);
                        transition: .5s ease-in-out;
                        span{
                            display: block;
                            position: absolute;
                            height: 6px;
                            width: 100%;
                            background: #1e7096;
                            border-radius: 9px;
                            opacity: 1;
                            left: 0;
                            transform: rotate(0deg);
                            transition: .25s ease-in-out;
                            &:nth-child(1) {
                                top: 0px;
                            }
                            &:nth-child(2) {
                                top: 15px;
                            }
                            &:nth-child(3) {
                                top: 30px;
                            }                    
                        }
                        &.open span:nth-child(1) {
                            top: 15px;
                            transform: rotate(135deg);
                        }                  
                        &.open span:nth-child(2) {
                            opacity: 0;
                            left: -60px;
                        }                  
                        &.open span:nth-child(3) {
                            top: 15px;
                            transform: rotate(-135deg);
                        }
                    }
                }
                .respContent {
                    align-items: center;
                    .textForNavbar {
                        border: transparent solid;
                        .navElem {
                            padding: .2rem 1rem;
                        }
                    }
                }
            }
        }   
    }
    
    .aboutBiałogóra {
        h2 {
            font-size: 22px;
        }
        p {
            font-size: 13px;
        }
        .cityGallery {
            flex-wrap: wrap;
            .imageView {
                width: 100%;
            }
        }
        .modalBoxes {
            padding-top: 0;
            .boxContent {
                .closeIcon {
                    right: 30px;
                    top: 10px;
                }
                .arrow {
                    font-size: 1rem;
                    padding: 10px;
                }
            }
        }
    }
    .homeGallery {
        height: 70vh;
        padding-bottom: 0;
        justify-content: center;
        .galleryTitle p {
            font-weight: bold;
            margin: 20px auto;
            font-size: 50px;
        }
        .myOwnCarouselClass {
            height: 40vh;
            min-height: 350px;
            min-width: 1px;
            .slideBox {
                max-height: 800px;
                .slideInfo {
                    @include opacityBackg();
                    height: 17vh; 
                    width: 90%;
                    position: absolute;
                    top: 45%;
                    margin-left: 5%;
                    h2 {
                        font-size: 20px;
                    }
                    p {
                        text-align: justify;
                        font-size: 11px;
                        margin: 0 15px;
                    }
                }
                .homeImageClass {
                    width: 100%;
                    height: auto;
                    max-height: 500px;
                    img {
                        width: 100%;
                        height: 40vh;
                        max-height: 500px;
                        position: static;
                        margin: 0 auto;
                    }
                } 
            }
            .carouselArrow1,
            .carouselArrow2 {
                position: absolute;
                top: 45%;
            }
        }
    }
    .priceTable {
        padding-bottom: 30px;
        th,
        td {
            font-size: 11px;
            padding: 10px;
        }
    }
    .contact {
        padding-top: 50px;
        .mailImage,
        .facebookImage,
        .phoneImage {
            font-size: 40px;
            margin: 10px;
        }
        .contactMethods {
            p {
                padding-top: 4px;
                font-size: 13px;
            }
        }
        .mapContainer {
            position: relative;
            padding-bottom: 80%;
            height: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            } 
        }
        .backToTop {
            .btnToTop {
                width: 50px;
                height: 50px;
                min-width: 20px;
                min-height: 20px;
                bottom: 10px;
                right: 10px;
                .fa-3x {
                    font-size: 2em;
                }
            }
        }
    }  
}

@media only screen and (max-width: 350px) {
    header {
        .hero {
            .myNavClass {
                .flexHamburgerMenu span {
                    height: 6px;
                }
                .respContent {
                    font-size: 15px;
                }
            }
            p {
                font-size: 50px;
                top: 65%;
            }
        }
    }
    .homeGallery {
        .myOwnCarouselClass {
            height: 40vh;
            .slideBox {
                .slideInfo {
                    height: 25vh;
                }
                .homeImageClass {
                    img {
                        height: 60vh;
                        object-fit: cover;
                    }
                }               
            }
            .carouselArrow1,
            .carouselArrow2 {
                top: 40%;
            }
        }
    }
    .priceTable {
        padding-top: 140px;
    }    
}