* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --objectSize: 50px;
    --mdObjectSize: 45px;
    --mobileObjectSize: 35px;
}

body {
    background-color: rgba(0, 0, 0, 0.3);
    font-family: 'Indie Flower', cursive;
}

.mainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: black;
    color: white;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.title p {
    text-align: center;
}

.lettersTitle {
    font-size: 25px;    
}

.rockText {
    color: silver;
}

.paperText {
    color: red;
}

.scissorsText {
    color: green;
}

/* newGame styles */
.newGame {
    display: flex;
    background-color: #000;
}
.newGame p {
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gameName {
    color: aqua;   
}

.startGame {
    background-color: goldenrod;
    border: none;
}

/* playerNameWindow styles */
.playerNameWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playerNameWindow p {
    font-weight: bold;
    margin: 0;
}

.finalStart {
    background-color: goldenrod;
    border: none;
}

/* gameStarted styles */
.gameStarted {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.gameButtons {
    display: flex;
    justify-content: space-around;
}

.choiceBtn {
    box-shadow: 4px 4px 2px #888888;
    border: none;
    text-transform: uppercase;
}

.choiceBtn:active {
    transform: translateY(2px);
    box-shadow: 4px 2px 2px #888888;
    outline: none;
}

.choiceBtn:focus {
    outline: none;
}

.names,
.score {
    display: flex;
    justify-content: space-between;
}

.scoreEffects {
    color: #08DF08;
    font-weight: bold;
    animation: BigScoreEffect .6s;
}

.choices {
    display: flex;
    justify-content: space-around;
    visibility: hidden;
}

.reloadButton {
    background-color: goldenrod;
    border: none;
}

.selectedIcons {
    display: flex;
    width: 60%;
    justify-content: space-around;
    position: absolute;
    bottom: 35%;
    left: 20%;
}

.selectedObject {
    position: absolute;
    top: 0;
}

.playerObject {
    left: 0;
}

.computerObject {
    left: calc(100% - var(--objectSize));
}

.playerBattleAnimationClass {
    animation: playerBattleAnimation .6s;
}

.computerBattleAnimationClass {
    animation: computerBattleAnimation .6s;
}

.mobilePlayerBattleAnimationClass {
    animation: mobilePlayerBattleAnimation .6s;
}

.mobileComputerBattleAnimationClass {
    animation: mobileComputerBattleAnimation .6s;
}

@keyframes playerBattleAnimation {
    0% {
        transform: translate(0px, 0px) scale(1.0, 1.0);
    }
    50% {
        transform: translate(20vw, 0px) scale(2.0, 2.0);
    }
    100% {
        transform: translate(0px, 0px) scale(1.0, 1.0);
    }
}

@keyframes computerBattleAnimation {
    0% {
        transform: translate(0px, 0px) scale(1.0, 1.0);
    }
    50% {
        transform: translate(-20vw, 0px) scale(2.0, 2.0);
    }
    100% {
        transform: translate(0px, 0px) scale(1.0, 1.0);
    }
}

@keyframes mobilePlayerBattleAnimation {
    0% {
        transform: translate(0px, 0px) scale(1.0, 1.0);
    }
    50% {
        transform: translate(10vw, 0px) scale(2.0, 2.0);
    }
    100% {
        transform: translate(0px, 0px) scale(1.0, 1.0);
    }
}

@keyframes mobileComputerBattleAnimation {
    0% {
        transform: translate(0px, 0px) scale(1.0, 1.0);
    }
    50% {
        transform: translate(-10vw, 0px) scale(2.0, 2.0);
    }
    100% {
        transform: translate(0px, 0px) scale(1.0, 1.0);
    }
}

@keyframes BigScoreEffect {
    0% {
        transform: scale(1.0, 1.0);
    }
    50% {
        transform: scale(3.0, 3.0);
    }
    100% {
        transform: scale(1.0, 1.0);
    }
}

@media only screen and (min-width: 1200px) {
    .boxText {
        font-size: 26px;
    }

    .title {
        padding: 2vh;
    }

    .newGame {
        padding: 5vh 10%;
    }

    .gameName {
        font-size: 35px;
    }

    .startGame {
        font-size: 24px;
    }

    .playerNameWindow {
        padding: 5vh 10vh;
    }

    .inputName {
        margin: 30px auto;
    }

    .finalStart {
        font-size: 24px;
    }

    .gameStarted {
        height: 40vh;
        width: 50%;
    }

    .choiceBtn {
        width: 10vw;
        padding: 5px;
    }

    .choiceBtn:hover {
        background-color: #B0A7A7;
        cursor: pointer;
    }

    .names,
    .score {
        font-size: 25px;
    }

    .selectedIcons span {
        width: var(--objectSize);
        height: var(--objectSize);
    }

    .gameEnd1,
    .gameEnd2 {
        padding: 50px;
    }

    .reloadButton {
        font-size: 25px;
        padding: 10px;
    }

    .startGame:hover,
    .finalStart:hover,
    .reloadButton:hover {
        background-color: aqua;
        color: black;
        cursor: pointer;
    }
}

@media only screen and (max-width: 1199px) {
    .boxText {
        font-size: 24px;
    }

    .title {
        padding: 2vh;
    }

    .newGame {
        padding: 5vh 10%;
    }

    .gameName {
        font-size: 32px;
    }

    .startGame {
        font-size: 22px;
    }

    .playerNameWindow {
        padding: 5vh 10vh;
    }

    .inputName {
        margin: 25px auto;
    }

    .finalStart {
        font-size: 24px;
    }

    .gameStarted {
        height: 40vh;
        width: 50%;
    }

    .choiceBtn {
        width: 10vw;
        padding: 5px;
    }

    .names,
    .score {
        font-size: 25px;
    }

    .selectedIcons span {
        width: var(--objectSize);
        height: var(--objectSize);
        transform: scale(.9);
    }

    .gameEnd1,
    .gameEnd2 {
        padding: 50px;
    }

    .reloadButton {
        font-size: 25px;
        padding: 10px;
    }
}

@media only screen and (max-width: 600px) {
    .boxText {
        font-size: 15px;
    }

    .title {
        padding: 2vh;
        left: 0;
        transform: translateX(0);
        border-radius: 0;
    }

    .newGame {
        padding: 5vh 10%;
    }

    .gameName {
        font-size: 20px;
    }

    .startGame {
        font-size: 15px;
    }

    .playerNameWindow {
        padding: 5vh 10vh;
    }

    .finalStart {
        font-size: 15px;
    }

    .inputName {
        margin: 25px auto;
    }

    .gameStarted {
        height: 40vh;
        width: 80%;
    }

    .choiceBtn {
        width: 30vw;
        padding: 5px;
        margin: 10px;
    }

    .names,
    .score {
        font-size: 25px;
    }

    .selectedIcons span {
        width: var(--objectSize);
        height: var(--objectSize);
        transform: scale(.9);
    }

    .gameEnd1,
    .gameEnd2 {
        padding: 50px;
    }

    .reloadButton {
        font-size: 18px;
        padding: 10px;
    }
}