@charset "UTF-8";
* {
  box-sizing: border-box; }

body {
  font-family: "Work Sans", sans-serif;
  width: 90%;
  margin: 0 auto;
  background-image: url("https://static9.depositphotos.com/1098496/1178/i/950/depositphotos_11786094-stock-photo-sandbackground.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1; }

header .hero {
  position: relative;
  width: 100%;
  min-height: 400px;
  background: transparent; }
  header .hero .myNavClass {
    font-size: 26px;
    z-index: 4; }
  header .hero p {
    font-family: "Kaushan Script", cursive;
    text-align: center;
    background: transparent;
    color: #FFE978;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.aboutBiałogóra {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  min-height: 400px;
  height: auto;
  background-color: #FFE978; }
  .aboutBiałogóra h2 {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: .05em; }
  .aboutBiałogóra p {
    text-align: justify;
    font-size: 19px;
    padding: 0 30px;
    line-height: 1.5em; }
  .aboutBiałogóra .cityGallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
    .aboutBiałogóra .cityGallery .imageView {
      width: 100%;
      height: 25vh;
      position: relative;
      overflow: hidden;
      display: flex; }
      .aboutBiałogóra .cityGallery .imageView:hover .imageChild {
        will-change: transform opacity cursor; }
      .aboutBiałogóra .cityGallery .imageView:hover .imageChild::before {
        display: flex; }
      .aboutBiałogóra .cityGallery .imageView .imageChild {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: all .5s; }
        .aboutBiałogóra .cityGallery .imageView .imageChild::before {
          content: "";
          display: none;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0; }
        .aboutBiałogóra .cityGallery .imageView .imageChild:hover {
          opacity: .6;
          transform: scale(1.2);
          cursor: pointer; }
      .aboutBiałogóra .cityGallery .imageView #img1 {
        background-image: url("../minifiedImages/Białogóra_view1.jpg"); }
      .aboutBiałogóra .cityGallery .imageView #img2 {
        background-image: url("../minifiedImages/Białogóra_view2.jpg"); }
      .aboutBiałogóra .cityGallery .imageView #img3 {
        background-image: url("../minifiedImages/Białogóra_view3.jpg"); }
      .aboutBiałogóra .cityGallery .imageView #img4 {
        background-image: url("../minifiedImages/Białogóra_view4.jpg"); }
  .aboutBiałogóra .modalBoxes {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 4; }
    .aboutBiałogóra .modalBoxes .boxContent {
      position: relative;
      width: 100%;
      height: 100%; }
      .aboutBiałogóra .modalBoxes .boxContent .closeIcon {
        position: absolute;
        color: #FFF;
        font-weight: bold;
        cursor: pointer;
        z-index: 5;
        transition: 0.6s ease; }
      .aboutBiałogóra .modalBoxes .boxContent .boxImg img {
        object-fit: cover;
        width: 100vw;
        height: 100vh; }
      .aboutBiałogóra .modalBoxes .boxContent .arrow {
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 20px;
        color: #ebe3df;
        font-weight: bold;
        font-size: 20px;
        border-radius: 50%;
        transition: 0.3s ease; }
      .aboutBiałogóra .modalBoxes .boxContent .carouselArrow1 {
        left: 5%; }
      .aboutBiałogóra .modalBoxes .boxContent .carouselArrow2 {
        right: 5%; }

.homeGallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #FFF;
  padding-top: 50px;
  padding-bottom: 30px;
  height: auto; }
  .homeGallery .galleryTitle {
    flex: 1 100%;
    text-align: center; }
    .homeGallery .galleryTitle p {
      font-size: 40px; }
  .homeGallery .myOwnCarouselClass {
    display: flex;
    width: 80%;
    height: 60vh; }
    .homeGallery .myOwnCarouselClass .slideBox {
      width: 100%;
      justify-content: flex-start;
      flex-direction: row; }
      .homeGallery .myOwnCarouselClass .slideBox .slideInfo {
        color: #000;
        display: flex;
        flex-direction: column;
        width: 38%;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10%; }
      .homeGallery .myOwnCarouselClass .slideBox img {
        width: 60%;
        max-height: 550px;
        position: absolute;
        top: 0;
        left: 40%; }
    .homeGallery .myOwnCarouselClass .carouselArrow1,
    .homeGallery .myOwnCarouselClass .carouselArrow2 {
      background-color: #FFE978;
      border-radius: 50%;
      border: 7px #FFE978 solid;
      position: absolute;
      top: 50%;
      margin-top: -15px; }

.priceTable {
  background: transparent;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .priceTable .priceHeader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold; }
  .priceTable table {
    border-collapse: separate !important;
    background-color: rgba(250, 250, 250, 0.6);
    border-radius: 10px; }

.contact {
  padding-top: 30px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contact > p {
    font-size: 40px; }
  .contact .contactMethods {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .contact .contactMethods .phoneImage {
      color: lightgreen; }
    .contact .contactMethods .mailImage {
      color: red; }
    .contact .contactMethods .facebookImage {
      color: #3B5998; }
    .contact .contactMethods p {
      line-height: 60px; }
  .contact .backToTop {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3; }
    .contact .backToTop .btnToTop {
      display: none;
      outline: none;
      min-width: 80px;
      min-height: 80px;
      background-color: #3B5998;
      border-radius: 50%;
      position: fixed;
      bottom: 20px;
      right: 20px;
      cursor: pointer; }
      .contact .backToTop .btnToTop:hover {
        background-color: #95b4ee; }
  .contact .copyrights {
    width: 100%;
    background-color: #000;
    color: #FFF;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 13px; }

@keyframes iconHover {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

@media only screen and (min-width: 1200px) {
  .hero {
    height: 75vh; }
    .hero .myBrandLogo {
      font-size: 40px; }
    .hero .respContent {
      justify-content: flex-end; }
      .hero .respContent .textForNavbar,
      .hero .respContent a {
        border: transparent solid;
        display: inline-block;
        text-align: center; }
      .hero .respContent .textForNavbar:hover {
        border-bottom: #FFE978 solid;
        cursor: pointer; }
      .hero .respContent a:hover {
        font-weight: bold; }
      .hero .respContent a::after {
        display: block;
        content: attr(title);
        font-weight: bold;
        height: 0;
        overflow: hidden;
        visibility: hidden; }
    .hero p {
      font-size: 60px; }
  .aboutBiałogóra h2 {
    margin: 30px auto; }
  .aboutBiałogóra .modalBoxes .boxContent .closeIcon {
    right: 30px;
    top: 30px;
    font-size: 35px; }
    .aboutBiałogóra .modalBoxes .boxContent .closeIcon:hover,
    .aboutBiałogóra .modalBoxes .boxContent .closeIcon :active {
      color: #000; }
  .aboutBiałogóra .modalBoxes .boxContent .arrow:hover,
  .aboutBiałogóra .modalBoxes .boxContent .arrow:active {
    color: rgba(235, 227, 223, 0.8);
    background-color: #000; }
  .priceTable {
    min-height: 600px;
    padding-top: 40px;
    padding-bottom: 30px; }
    .priceTable .priceHeader {
      padding-bottom: 20px; }
      .priceTable .priceHeader h2 {
        font-size: 40px; }
    .priceTable th,
    .priceTable td {
      font-size: 20px;
      padding: 30px; }
    .priceTable th:nth-of-type(1) {
      padding-left: 20%;
      font-size: 30px; }
    .priceTable td:nth-of-type(2),
    .priceTable td:nth-of-type(3),
    .priceTable td:nth-of-type(5),
    .priceTable td:nth-of-type(6) {
      padding-left: 10%; }
  .mailImage,
  .facebookImage,
  .phoneImage {
    margin: 40px; }
  .contactMethods .mailImage:hover,
  .contactMethods .facebookImage:hover {
    animation: iconHover 2s; }
  .contactMethods p {
    padding-top: 40px; }
  .mapContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .mapContainer iframe {
      min-width: 640px;
      min-height: 480px;
      width: 50%;
      height: auto; } }

@media only screen and (max-width: 1199px) {
  .hero {
    height: 75vh;
    width: 100%; }
    .hero .myBrandLogo {
      font-size: 25px; }
    .hero .respContent {
      justify-content: flex-end; }
      .hero .respContent .textForNavbar {
        border: transparent solid; }
        .hero .respContent .textForNavbar .navElem {
          color: black; }
    .hero p {
      font-size: 60px; }
  .aboutBiałogóra h2 {
    margin: 30px auto; }
  .aboutBiałogóra .modalBoxes .boxContent .closeIcon {
    right: 30px;
    top: 30px;
    font-size: 35px;
    color: #000; }
  .aboutBiałogóra .modalBoxes .boxContent .arrow {
    color: rgba(235, 227, 223, 0.8);
    background-color: #000; }
  .homeGallery {
    justify-content: center; }
    .homeGallery .galleryTitle p {
      font-weight: bold;
      margin: 20px auto;
      font-size: 50px; }
    .homeGallery .myOwnCarouselClass {
      width: 100%; }
      .homeGallery .myOwnCarouselClass .slideBox img {
        height: 60vh;
        object-fit: cover; }
  .priceTable {
    padding-top: 60px;
    padding-bottom: 90px; }
    .priceTable .priceHeader {
      padding-bottom: 20px; }
      .priceTable .priceHeader h2 {
        font-size: 40px; }
    .priceTable th,
    .priceTable td {
      font-size: 18px;
      padding: 20px; }
    .priceTable th:nth-of-type(1) {
      padding-left: 20%;
      font-size: 30px; }
    .priceTable td:nth-of-type(2),
    .priceTable td:nth-of-type(3),
    .priceTable td:nth-of-type(5),
    .priceTable td:nth-of-type(6) {
      padding-left: 10%; }
  .mailImage,
  .facebookImage,
  .phoneImage {
    margin: 20px; }
  .contactMethods p {
    padding-top: 20px; }
  .mapContainer {
    width: 100%;
    display: flex;
    justify-content: center; }
    .mapContainer iframe {
      min-width: 640px;
      min-height: 480px;
      width: 50%;
      height: auto; } }

@media only screen and (max-width: 900px) {
  .hero {
    height: 75vh;
    width: 100%; }
    .hero .myBrandLogo {
      font-size: 20px; }
    .hero .respContent {
      justify-content: flex-end; }
      .hero .respContent .textForNavbar {
        border: transparent solid; }
        .hero .respContent .textForNavbar:hover {
          border-bottom: none;
          cursor: default;
          font-weight: normal;
          margin-left: 0; }
  .aboutBiałogóra h2 {
    margin: 30px auto; }
  .aboutBiałogóra .cityGallery {
    flex-wrap: wrap; }
    .aboutBiałogóra .cityGallery .imageView {
      width: 50%; }
  .aboutBiałogóra .modalBoxes .closeIcon {
    right: 120px;
    top: 30px; }
  .homeGallery {
    padding-bottom: 0;
    justify-content: center; }
    .homeGallery .galleryTitle p {
      font-weight: bold;
      margin: 20px auto;
      font-size: 50px; }
    .homeGallery .myOwnCarouselClass {
      width: 100%;
      height: 30vh; }
      .homeGallery .myOwnCarouselClass .slideBox .slideInfo {
        margin-top: 5%; }
      .homeGallery .myOwnCarouselClass .slideBox img {
        height: 30vh;
        object-fit: cover; }
  .priceTable {
    padding-top: 40px;
    padding-bottom: 70px; }
    .priceTable th,
    .priceTable td {
      font-size: 15px;
      padding: 15px; }
  .mailImage,
  .facebookImage,
  .phoneImage {
    margin: 20px; }
  .contactMethods p {
    padding-top: 20px; }
  .mapContainer {
    width: 100%;
    display: flex;
    justify-content: center; }
    .mapContainer iframe {
      min-width: 640px;
      min-height: 480px;
      width: 50%;
      height: auto; } }

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
    background-image: none; }
  header {
    position: relative; }
    header .hero {
      height: 100vh;
      width: 100%; }
      header .hero .myNavClass {
        font-size: 20px;
        background-color: rgba(250, 250, 250, 0.6);
        z-index: 3; }
        header .hero .myNavClass .flexLogo {
          display: flex;
          justify-content: center; }
          header .hero .myNavClass .flexLogo .myBrandLogo {
            font-size: 20px; }
        header .hero .myNavClass .flexHamburgerMenu {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding-bottom: 10px; }
          header .hero .myNavClass .flexHamburgerMenu .hamburgerMenuClass {
            border: 0;
            width: 35px;
            height: 30px;
            position: relative;
            border: 0 white solid;
            border-radius: 500px;
            transform: rotate(0deg);
            transition: .5s ease-in-out; }
            header .hero .myNavClass .flexHamburgerMenu .hamburgerMenuClass span {
              display: block;
              position: absolute;
              height: 6px;
              width: 100%;
              background: #1e7096;
              border-radius: 9px;
              opacity: 1;
              left: 0;
              transform: rotate(0deg);
              transition: .25s ease-in-out; }
              header .hero .myNavClass .flexHamburgerMenu .hamburgerMenuClass span:nth-child(1) {
                top: 0px; }
              header .hero .myNavClass .flexHamburgerMenu .hamburgerMenuClass span:nth-child(2) {
                top: 15px; }
              header .hero .myNavClass .flexHamburgerMenu .hamburgerMenuClass span:nth-child(3) {
                top: 30px; }
            header .hero .myNavClass .flexHamburgerMenu .hamburgerMenuClass.open span:nth-child(1) {
              top: 15px;
              transform: rotate(135deg); }
            header .hero .myNavClass .flexHamburgerMenu .hamburgerMenuClass.open span:nth-child(2) {
              opacity: 0;
              left: -60px; }
            header .hero .myNavClass .flexHamburgerMenu .hamburgerMenuClass.open span:nth-child(3) {
              top: 15px;
              transform: rotate(-135deg); }
        header .hero .myNavClass .respContent {
          align-items: center; }
          header .hero .myNavClass .respContent .textForNavbar {
            border: transparent solid; }
            header .hero .myNavClass .respContent .textForNavbar .navElem {
              padding: .2rem 1rem; }
  .aboutBiałogóra h2 {
    font-size: 22px;
    margin: 30px auto; }
  .aboutBiałogóra p {
    font-size: 13px; }
  .aboutBiałogóra .cityGallery {
    flex-wrap: wrap; }
    .aboutBiałogóra .cityGallery .imageView {
      width: 100%; }
  .aboutBiałogóra .modalBoxes {
    padding-top: 0; }
    .aboutBiałogóra .modalBoxes .boxContent .closeIcon {
      right: 30px;
      top: 10px; }
    .aboutBiałogóra .modalBoxes .boxContent .arrow {
      font-size: 1rem;
      padding: 10px; }
  .homeGallery {
    height: 70vh;
    padding-bottom: 0;
    justify-content: center; }
    .homeGallery .galleryTitle p {
      font-weight: bold;
      margin: 20px auto;
      font-size: 50px; }
    .homeGallery .myOwnCarouselClass {
      height: 40vh;
      min-height: 350px;
      min-width: 1px; }
      .homeGallery .myOwnCarouselClass .slideBox {
        max-height: 800px; }
        .homeGallery .myOwnCarouselClass .slideBox .slideInfo {
          background-color: rgba(250, 250, 250, 0.6);
          height: 17vh;
          width: 90%;
          position: absolute;
          top: 45%;
          margin-left: 5%; }
          .homeGallery .myOwnCarouselClass .slideBox .slideInfo h2 {
            font-size: 20px; }
          .homeGallery .myOwnCarouselClass .slideBox .slideInfo p {
            text-align: justify;
            font-size: 11px;
            margin: 0 15px; }
        .homeGallery .myOwnCarouselClass .slideBox .homeImageClass {
          width: 100%;
          height: auto;
          max-height: 500px; }
          .homeGallery .myOwnCarouselClass .slideBox .homeImageClass img {
            width: 100%;
            height: 40vh;
            max-height: 500px;
            position: static;
            margin: 0 auto; }
      .homeGallery .myOwnCarouselClass .carouselArrow1,
      .homeGallery .myOwnCarouselClass .carouselArrow2 {
        position: absolute;
        top: 45%; }
  .priceTable {
    padding-bottom: 30px; }
    .priceTable th,
    .priceTable td {
      font-size: 11px;
      padding: 10px; }
  .contact {
    padding-top: 50px; }
    .contact .mailImage,
    .contact .facebookImage,
    .contact .phoneImage {
      font-size: 40px;
      margin: 10px; }
    .contact .contactMethods p {
      padding-top: 4px;
      font-size: 13px; }
    .contact .mapContainer {
      position: relative;
      padding-bottom: 80%;
      height: 0;
      overflow: hidden; }
      .contact .mapContainer iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .contact .backToTop .btnToTop {
      width: 50px;
      height: 50px;
      min-width: 20px;
      min-height: 20px;
      bottom: 10px;
      right: 10px; }
      .contact .backToTop .btnToTop .fa-3x {
        font-size: 2em; } }

@media only screen and (max-width: 350px) {
  header .hero .myNavClass .flexHamburgerMenu span {
    height: 6px; }
  header .hero .myNavClass .respContent {
    font-size: 15px; }
  header .hero p {
    font-size: 50px;
    top: 65%; }
  .homeGallery .myOwnCarouselClass {
    height: 40vh; }
    .homeGallery .myOwnCarouselClass .slideBox .slideInfo {
      height: 25vh; }
    .homeGallery .myOwnCarouselClass .slideBox .homeImageClass img {
      height: 60vh;
      object-fit: cover; }
    .homeGallery .myOwnCarouselClass .carouselArrow1,
    .homeGallery .myOwnCarouselClass .carouselArrow2 {
      top: 40%; }
  .priceTable {
    padding-top: 140px; } }

/*# sourceMappingURL=style.css.map */